.Upload-Page{
    background-color: #dedddd;
    height: 100vh;
    width: 100vw;
}

.Nav-Empty{
    height: 5%;
    background-color: #333652;
}


.upload-page-bottom-div{
    height: 5%;
    background-color: #333652;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 25px;
    justify-content: space-between;
    box-sizing: content-box;
}



.Upload-Form-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
}

.Upload-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.Preview-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    .Preview-Container-P{
        height: 25px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    }
}

.Upload-Form-Title-Div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    margin-bottom: 30px;
}

.title-div{
    display: flex;
    flex-direction: column;
}

.Preview-Image{
    height: 100px;
    width: 100px;
}

// .Preview-Images-Container{
//     height: 600px;
//     width: 150px;
//     border: black solid;
// }



.input-file-div{
    height: 200px;
    width: 450px;
    background-color: #FAD02C;
    font-size: 25px;
    font-weight: bold;
    position: relative;


    background-color: #fad02c;
    color: #333652;
    cursor: pointer;
    border: none;
    border-radius: 3pt;    
    
    &:hover{
        background-color: #f3e19a;
    }
}

.input-file-p{
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-file{
    height: 200px;
    width: 450px;
    opacity: 0;
    cursor: pointer;
    top: 0px;
    position: absolute;
}



.Preview-Images-Container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border: black solid;

}

.Preview-Image-Container{
    height: 50%;
    width: 50%;
    position: relative;
    border: #4646468c solid thin;
    box-sizing: border-box;
}

.Preview-Image {
    height: 100%;
    width: 100%;
}

.Remove-Image-btn{
    width: 20px;
    height: 20px;
    background-color: #0606064f;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

    .Upload-Page-btn{
        height: 80%;
        width: 100px;
        font-size: 15px;
        font-weight: bold;
        background-color: #fad02c;
        color: #333652;
        cursor: pointer;
        border: none;
        border-radius: 3pt;    
        
        &:hover{
            background-color: #f3e19a;
        }
    }

